* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0 16px;
}

nav {
  display: none;
}

body > header a {
  display: flex;
  justify-content: start;
  align-items: center;
}

h1 {
  color: rgb(15, 15, 17);
  font-family: Mont;
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -1%;
  text-align: left;
  margin: 24px 16px;
}

main {
  width: inherit;
}

main > header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img[alt="iPhone 14 Pro"] {
  width: 100%;
}

li {
  list-style: none;
}

h2 {
  color: #0F0F11;
  font-family: Mont;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 30.8px;
  grid-column: 1/4; 
}

section {
  padding: 56px 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

section ul:first-of-type {
  gap: 16px;
  grid-column: 4/5; 
  display: flex;
}

section ul:last-child {
  grid-column: span 4;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
